<!-- Modal over 18 -->
<div id="firstModal" class="modal modal_form" style="display: none;">
    <div class="modal-content">
        <div class="modal_logo">
            <img src="/assets/images/heart-red.png" alt="">
        </div>
        <div class="checkbox_text">
            <label for="checkAge"><input type="checkbox" id="checkAge"> Soy mayor de 18 años</label>
            <p>Introduce tu fecha de nacimiento para continuar</p>
        </div>
        <form>
            <div class="modal_date">
                <div class="modal_text">
                    <input type="text" placeholder="DDD" maxlength="2">
                </div>
                <div class="modal_text">
                    <input type="text" placeholder="MMM" maxlength="2">
                </div>
                <div class="modal_text">
                    <input type="text" placeholder="AAA" maxlength="4">
                </div>
            </div>
            <div class="modal_button">
                <a href="#">Continuar</a>
            </div>
            <div class="checkbox_text terms">
                <label for="checkTerms"><input type="checkbox" id="checkTerms"> <a href="#">He leído y Acepto los términos condiciones*</a></label>
                <p class="check_error">Debes completar todos los datospara ingresar al sitio web</p>
            </div>
        </form>
    </div>
</div>


<!-- Modal Form -->
<div id="secondModal" class="modal" style="display: block;">
    <div class="modal-content modal_age">
        <div class="modal_logo">
            <img src="/assets/images/heart-red.png" alt="">
        </div>
        <div class="modal_text">
            <p>Debes ser mayor de <span>18 años</span> para ingresar</p>
        </div>
    </div>
</div>