<header>
  <div class="header-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand"><img class="main-logo" src="assets/images/top-logo.jpg"> </a>
        <div class="ml-auto menu-wrapper">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/home">ESCENARIO</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/making">INSPIRACIÓN</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/room">SALA DE CONOCIMIENTO</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center bottom-header-content">
        <a class="navbar-brand" routerLink="/home">
          <img src="assets/images/logo.png" class="bottom-left-logo">
        </a>
        <img src="assets/images/new/undia450.png" class="bottom-right-logo desktop-show">
        <img src="assets/images/new/undia130.png" class="bottom-right-logo mobile-show">
      </div>
    </div>
  </div>
</header>
