<section class="body-content making">
  <div class="header-bottom inspiration_header">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center bottom-header-content">
        <a class="navbar-brand" routerLink="/home">
          <img src="assets/images/logo-inspiracion.png" class="bottom-left-logo">
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 pr-lg-0">
        <div class="embed-responsive embed-responsive-16by9">
          <app-vjs-player class="embed-responsive-item"
                          *ngIf="videoMain"
                          [options]="videoMain"
          ></app-vjs-player>
        </div>
      </div>
      <div class="col-lg-3 making-text-1 text-center pl-lg-0">
        <div class="inner d-flex align-items-center justify-content-center">
          <div>
            <!-- <h3></h3> -->
            <h3 class="wheat">Una colección inspirada en la belleza de nuestra biodiversidad.</h3>
            <hr class="border_making">
            <p class="wheat">
              Nuestra propia tierra fue la fuente de inspiración para crear cada una de las prendas
              que vas a poder ver en esta página. Quisimos resaltar la belleza e inmensidad de nuestras plantas,
              animales y flores, homenajeando la perfección de la naturaleza y los paisajes colombianos.
            </p>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-lg-3 pr-lg-0 pb-3 pb-lg-0">
        <img class="w-100 desktop-view" src="/assets/images/making-1.jpg">
        <img class="w-100 mobile-view" src="/assets/images/making-9.jpg">
      </div>
      <div class="col-lg-3 making-text-2 pb-lg-0 pr-lg-0">
        <div class="inner d-flex align-items-center">
          <h2 class="mb-0">Es hora de volver a reconocer lo que es nuestro</h2>
        </div>
      </div>
      <div class="col-lg-6 pb-3 pb-lg-0">
        <img class="w-100 desktop-view" src="/assets/images/making-2.jpg">
        <img class="w-100 mobile-view" src="/assets/images/making-8.jpg">
      </div>
    </div>
    <div class="row pt-0 pt-lg-3">
      <div class="col-lg-6 pr-lg-0 pb-3 pb-lg-0">
        <!-- <div class="embed-responsive embed-responsive-16by9">
          <app-vjs-player class="embed-responsive-item"
                          *ngIf="videoFirst"
                          [options]="videoFirst"
          ></app-vjs-player>
        </div> -->
        <img class="w-100 desktop-view" src="/assets/images/making-8.jpg">
      </div>
      <div class="col-lg-6 making-text-3 pb-3 pb-lg-0">
        <div class="inner d-flex align-items-center justify-content-center">
          <div>
            <h3>CONÉCTATE CON LA ESENCIA DE NUESTRA TIERRA</h3>
            <hr class="border_making white_mobile">
            <p>Creamos esta colección con un gran objetivo: volver a enamorar a los colombianos de lo propio,
                exponiendo la belleza de los elementos naturales que nos rodean y que le aportan a nuestro país vida,
                movimiento y color.
            </p>
            <!--<p class="mb-0 bold-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.</p>-->
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-0 pt-lg-3">
      <div class="col-lg-3 making-text-4 pr-lg-0 mb-3 mb-lg-0">
        <div class="inner d-flex align-items-center justify-content-center">
          <div>
            <h3 class="text-uppercase">4 símbolos de nuestra biodiversidad son protagonistas en esta colección:</h3>
            <hr class="border_making white">
              <ul>
                <li>&#8226; La palma De Plátano &#8226;</li>
                <li>&#8226; El Jaguar &#8226;</li>
                <li>&#8226; El Pájaro Barranquero &#8226;</li>
                <li>&#8226; El Mono Tití &#8226;</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 pr-lg-0 pb-lg-0 pb-3 making-img-4">
        <img class="w-100 desktop-view of-c" src="/assets/images/making-4.jpg">
        <img class="w-100 mobile-view" src="/assets/images/making-2.jpg">
      </div>

      <div class="col-lg-6 pb-lg-0 pb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <app-vjs-player class="embed-responsive-item"
                          *ngIf="videoSecond"
                          [options]="videoSecond"
          ></app-vjs-player>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="top-arrow mobile-view">
  <img src="/assets/images/arrow.png">
</div>
