<section class="body-content making">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 pr-lg-0">
        <div class="embed-responsive embed-responsive-16by9">
          <app-vjs-player class="embed-responsive-item"
                          *ngIf="videoMain"
                          [options]="videoMain"
          ></app-vjs-player>
        </div>
      </div>
      <div class="col-lg-3 making-text-1 text-center pl-lg-0">
        <div class="inner d-flex align-items-center justify-content-center">
          <div>
            <!-- <h3></h3> -->
            <h3 class="wheat">“Me emocionó mucho cuando Arkitect me contactó. Estamos en un momento donde se evidencia un cambio en la
              industria de la moda.“</h3>
            <p class="wheat">
              “Más que una cuestión estética, la moda es un espacio de representación y libertad de expresión. Como la
              vivimos actualmente está enfocada en una pequeña parte de la población, por eso esta colección tiene el
              objetivo de democratizar y diversificar al consumidor. Que cada mujer se sienta empoderada de su propio
              cuerpo y estilo. Una mujer libre.”
            </p>
            <br>
            <p class="font-weight-bold text-right title wheat">Beatriz Camacho</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-lg-3 pr-lg-0 pb-3 pb-lg-0">
        <img class="w-100" src="/assets/images/making-1.png">
      </div>
      <div class="col-lg-3 making-text-2 pb-lg-0 pr-lg-0">
        <div class="inner d-flex align-items-center">
          <h2 class="mb-0">Queremos que cada prenda invite a vivir, soñar y sobre todo a proteger y valorar la belleza
            de nuestra naturaleza.</h2>
        </div>
      </div>
      <div class="col-lg-6 pb-3 pb-lg-0">
        <img class="w-100 desktop-view" src="/assets/images/making-2.png">
        <img class="w-100 mobile-view" src="/assets/images/making-6.png">
      </div>
    </div>
    <div class="row pt-0 pt-lg-3">
      <div class="col-lg-6 pr-lg-0 pb-3 pb-lg-0">
        <div class="embed-responsive embed-responsive-16by9">
          <app-vjs-player class="embed-responsive-item"
                          *ngIf="videoFirst"
                          [options]="videoFirst"
          ></app-vjs-player>
        </div>
      </div>
      <div class="col-lg-6 making-text-3 pb-3 pb-lg-0">
        <div class="inner d-flex align-items-center justify-content-center">
          <div>
            <h3>Esta colección fue inspirada en la poesía de la naturaleza colombiana. Principalmente la selva tropical: desde el Amazonas hasta el Chocó.</h3>
            <p>La exuberancia de la naturaleza toma vida a través de estampados.
              <i>Creamos cinco grupos enfocados en la flora y la fauna de la selva colombiana.</i> Por ejemplo, el grupo de
              linos con estampados de orquídeas y palmas que traen ese sentimiento del Caribe fresco y tropical. </p>
            <!--<p class="mb-0 bold-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.</p>-->
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-0 pt-lg-3">
      <div class="col-lg-3 making-text-4 pr-lg-0 mb-3 mb-lg-0">
        <div class="inner d-flex align-items-center justify-content-center">
          <div>
            <h3>Diseñamos para la mujer colombiana.</h3>
            <p class="mb-0"><i>Libre, divertida, descomplicada con respeto y amor por la naturaleza.</i> Llevar con orgullo los
              símbolos que exaltan la riqueza de nuestro país.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 pr-lg-0 pb-lg-0 pb-3">
        <img class="w-100 desktop-view of-c" src="/assets/images/making-4.png">
        <img class="w-100 mobile-view" src="/assets/images/making-7.png">
      </div>

      <div class="col-lg-6 pb-lg-0 pb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <app-vjs-player class="embed-responsive-item"
                          *ngIf="videoSecond"
                          [options]="videoSecond"
          ></app-vjs-player>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="top-arrow mobile-view">
  <img src="/assets/images/arrow.png">
</div>
