.body-content {
  height: 58vh;
  box-sizing: content-box;
}
@media (min-width: 1900px) {
  .body-content {
    overflow: hidden;
  }
}

.product-section {
  padding: 0;
}

.banner-section {
  margin-top: 1rem;
}

@media (max-width: 580px) {
  .body-content {
    height: auto;
    padding-top: 0;
  }
  .banner-section {
    margin-top: 0;
  }
}