<section class="body-content" *ngIf="isStreaming">
  <div class="container h-100" style="position: relative;">
    <div class="row h-100">
      <div class="col-lg-6 col-md-7 video-section">
        <div class="inner">
          <div class="embed-responsive embed-responsive-16by9">
            <app-vjs-player class="embed-responsive-item"
                            *ngIf="videoOptions"
                            [options]="videoOptions"
                            (videoInfo)="getVideoInfo($event)"
                            (ready)="videoReady($event)"
            ></app-vjs-player>
          </div>
          <div class="banner-section mt-3">
            <img src="/assets/images/stage-banner-2.png" class="w-100">
            <img src="/assets/images/logo.png" class="banner-logo">
            <a [href]=entireCollectionLink
               (click)="redirectToCheckout()"
               target="_parent" class="banner-label">MIRA LA COLECCIÓN COMPLETA</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 product-section">
        <div class="inner">
          <img class="inner__banner"
               [src]="currentCollection && currentCollection.banner ? currentCollection.banner.url : '/assets/images/pajaro.jpg'"
               alt="">
          <span class="hot-spot"
                *ngFor="let product of products"
                (click)="openDetail(product)"
                [ngStyle]="getPosition(product)">
            <span class="inner-circle"></span>
          </span>
          <div class="product-info-wrapper show" *ngIf="detail">
            <div class="product-option" [formGroup]="form">
              <h3 class="option-title">{{currentProduct.description}}<br>
                <small>{{currentProduct.brand}}</small></h3>
              <h2 class="option-price mb-0">{{currentProduct.price  | currency: 'COP': 'symbol-narrow':'1.0-0': 'es-CO' }}</h2>
              <p class="variant-title">Elige tu talla</p>
              <div class="variant-item-wrapper size d-flex justify-content-between">
                <div class="text-center item-wrapper"
                     *ngFor="let size of sizes">
                  <input class="d-none" type="radio"
                         formControlName="size" name="size"
                         [value]="size" [id]="size">
                  <label class="mb-0 size-option" [for]="size">{{size | uppercase}}</label>
                </div>
              </div>
              <p class="variant-title">Color</p>
              <div class="variant-item-wrapper color d-flex">
                <div class="item-wrapper item-wrapper--color text-center"
                     *ngFor="let color of colors">
                  <input class="d-none h-0" type="radio"
                         name="color" formControlName="color"
                         [value]="color" [id]="color">
                  <label class="mb-0 color-option" [for]="color">{{color | titlecase}}</label>
                </div>
              </div>
            </div>
            <button class="add-cart-btn btn" [class.active]="form.valid"
                    (click)="addProduct()" [disabled]="!form.valid">
              AGREGAR A LISTA <img src="/assets/images/heart-outline.png">
              <img src="/assets/images/heart-white.png" class="active">
            </button>
          </div>
          <div class="product-title-wrapper show" *ngIf="added">
            <h3 class="option-title">{{currentProduct.description}}<br>
              <small>{{currentProduct.brand}}</small></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3 cart-section h-100">
        <div class="inner">
          <div class="cart-header d-flex align-items-center justify-content-between" (click)="cartVisible = !cartVisible">
            <h3>LISTA DE DESEOS</h3>
           <div class="icon_content"> <div class="cart-icon"><img src="/assets/images/heart.png"><span class="cart-counts">{{wishListCount}}</span></div> </div>
          </div>
          <div class="cart-item-collapse" [ngClass]="{'active': cartVisible}" *ngIf="cartVisible">
            <div class="cart-item-wrapper">
              <div class="cart-item d-flex justify-content-between align-items-center"
                   *ngFor="let item of wishList"
              >
                <div class="cart-item-title">{{item.description}}<br><small>{{item?.brand}}</small></div>
                <div class="cart-item-price" *ngIf="item?.price">${{item?.price}}</div>
                <img class="cart-item-clear"
                     (click)="deleteItem(item)"
                     *ngIf="item.id" src="/assets/images/recycle.png">
              </div>
            </div>
          </div>
          <div *ngIf="cartVisible" class="compare-btn">
            <p><i>La disponibilidad se validará en exito.com</i></p>
            <a class="btn" [href]="checkout"
               [class.disabled]="wishListCount <= 0" target="_blank">COMPRAR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="body-content home" *ngIf="!isStreaming">
  <div class="container home-body-content text-center">
    <img src="/assets/images/bg-text.png" class="body-bg-text desktop-show">
    <img src="/assets/images/mobile-bg-text.png" class="body-bg-text mobile-show">
    <img src="/assets/images/home-image.png" class="main-home-img desktop-show">
    <img src="/assets/images/mobile-home-image.png" class="main-home-img mobile-show">
    <div class="counter-down" *ngIf="countdown">
      <div class="counter-inner"><div id="hours">{{countdown.hours}}</div><span class="timer-label">HORAS</span></div>
      <div class="counter-inner"><div id="minutes">{{countdown.minutes}}</div><span class="timer-label">MINUTOS</span></div>
      <div class="counter-inner"><div id="seconds">{{countdown.seconds}}</div><span class="timer-label">SEGUNDOS</span></div>
    </div>
  </div>
</section>
