<section class="body-content sala">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pb-3 sala-text-1 pr-lg-0">
        <div class="inner d-flex align-items-center justify-content-center">
          <div>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis Lorem ipsum.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CmzujB41vaM?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pb-3 pr-lg-0">
        <img class="w-100 desktop-view" src="assets/images/sala-1.png" >
        <img class="w-100 mobile-view" src="assets/images/sala-7.png" >
      </div>
      <div class="col-lg-6 pb-3 desktop-view">
        <div class="inner" style="height: 100%; background: url('assets/images/sala-2.png') no-repeat center; background-size: cover;"></div>
      </div>
      <div class="col-lg-6 pb-3 mobile-view">
        <img class="w-100 mobile-view" src="assets/images/sala-8.png" >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pb-3 pr-lg-0 desktop-view">
        <img class="w-100" src="assets/images/sala-3.png">
      </div>
      <div class="col-lg-6 pb-3 sala-text-2 desktop-view">
        <div class="inner d-flex justify-content-center align-items-center">
          <h2 class="mb-0">Loremipsum dolor sit ametelit<br>Loremipsum dolor sit ametelit</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 pb-3 pr-lg-0 desktop-view">
        <img src="assets/images/sala-5.png" class="w-100">
      </div>
      <div class="col-lg-3 sala-text-3 pb-3 pr-lg-0">
        <div class="inner d-flex justify-content-center align-items-center">
          <div class="text-center">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pb-3">
        <img src="assets/images/sala-6.png" class="w-100 desktop-view">
        <img src="assets/images/sala-9.png" class="w-100 mobile-view">
      </div>
    </div>
  </div>
</section>

<div class="top-arrow mobile-view">
  <img src="assets/images/arrow.png">
</div>
