<section class="body-content sala">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pb-3 sala-text-1 pr-lg-0">
        <div class="inner d-flex align-items-center justify-content-center">
          <div>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
              accumsan lacus vel facilisis Lorem ipsum.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <app-vjs-player class="embed-responsive-item"
                          *ngIf="videoMain"
                          [options]="videoMain"
          ></app-vjs-player>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pb-3 pr-lg-0">
        <div class="embed-responsive embed-responsive-16by9">
          <app-vjs-player class="embed-responsive-item"
                          *ngIf="videoFirst"
                          [options]="videoFirst"
          ></app-vjs-player>
        </div>
      </div>
      <div class="col-lg-6 pb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <app-vjs-player class="embed-responsive-item"
                          *ngIf="videoSecond"
                          [options]="videoSecond"
          ></app-vjs-player>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pb-3 pr-lg-0 desktop-view">
        <div class="embed-responsive embed-responsive-16by9">
          <app-vjs-player class="embed-responsive-item"
                          *ngIf="videoThird"
                          [options]="videoThird"
          ></app-vjs-player>
        </div>
      </div>
      <div class="col-lg-6 pb-3 sala-text-2 desktop-view">
        <!--<div class="inner d-flex justify-content-center align-items-center">-->
        <div class="inner d-flex justify-content-center align-items-center">
          <!--<h2 class="mb-0">Loremipsum dolor sit ametelit<br>Loremipsum dolor sit ametelit</h2>-->
          <!--<div class="text-center">
            <p>
              “Este es el gran reto, cómo logramos crear una experiencia digital en todo el sentido. No llevar una acción
              del mundo físico al digital, sino pensarla para que nazca digital y naturalmente viva en nuestros
              ecosistemas.”
            </p>
            <br>
            <p class="text-right">
              Ana Lopera <br>
              Directora de Mercadeo Marcas Propias <br>
              Grupo Éxito
            </p>
          </div>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 pb-3 pr-lg-0 desktop-view">
        <img src="assets/images/sala-5.png" class="w-100">
      </div>
      <div class="col-lg-3 sala-text-3 pb-3 pr-lg-0">
        <div class="inner d-flex justify-content-center align-items-center">
          <div class="text-center">
            <!--<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>-->
            <p class="mb-0">“Se siente un gran entusiasmo por ser parte de una innovación, de hacer las cosas de forma
              diferente en una situación que nos reto a eso, a salirnos de la caja.”</p>
            <br>
            <p class="text-right">
              Juan Esteban Valencia <br>
              Gerente Comercial Negocio Textil <br>
              Grupo Éxito
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 pb-3">
        <img src="assets/images/sala-6.png" class="w-100 desktop-view">
        <img src="assets/images/sala-9.png" class="w-100 mobile-view">
      </div>
    </div>
  </div>
</section>

<div class="top-arrow mobile-view">
  <img src="assets/images/arrow.png">
</div>
